<div class="row">
	<div class="col-3">
		<button type="button" href="https://wa.me/0102030405">Appelez nous au
			<strong>01 02 03 04 05</strong>
		</button>
	</div>
	<div class="col-6"></div>
	<div class="col-3">
		<p class="text-end">
			<a href="{{ path('app_avis') }}" class="avis">Laissez nous un avis</a>
		</p>
	</div>
</div>
