<h5 class="text-center social_media">
    Rejoignez nous sur nos réseaux sociaux
    <br><br>
</h5>

<!-- Réseaxu Sociaux -->
<img src="{{ asset('asset/uploads/icons/instagram.svg') }}" alt="logo instagram" height="20" width="20"/>
<a href="#" class="social_media">Instagram</a>
<img src="{{ asset('asset/uploads/icons/facebook.svg') }}" alt="logo facebook" height="20" width="20"/>
<a href="#" class="social_media">Facebook</a>
<img src="{{ asset('asset/uploads/icons/linkedin.svg') }}" alt="logo linkedin" height="20" width="20"/>
<a href="#" class="social_media">LinkedIn</a>

<!-- Mentions Légales -->
<h6 class="text-center">Copyright © 2024 Projet étudiant de Daniel Gros promotion Nivat école Studi</h6>
