<div class="text-center col-md-6">
	<h2>VOTRE SATISFACTION ? NOTRE PRIORITÉ.</h2>
	<p>"Nous sommes ravis de l'accueil que nous avait réservé le chef d'atelier, il a su très vite nous dire la sévérité de la panne ainsi qu'une approximation du temps que cela prendrait pour réparer notre véhicule. Pas de "je vous rappelle dans l'après-midi" , il nous a dit que cela prendrait 5 jours et cela en a pris 4, il nous gracieusement mis à disposition un véhicule de courtoisie. Le devis a été respecté et nous avons pu payer en plusieurs fois pour plus de conforts.
		<br>
		Je recommande chaudement.
		<br>
		Anne G.</p>
	<hr>
	<h2>
		"Garages - Établissements devant lesquels l’automobiliste passe quand il roule
		<br/>
		et loin desquels il se trouve lorsqu’il est en panne.”
	</h2>
</div>
