<div class="list_service pt-4">
	<div class="card card_service col-12">
		<div class="card-body">
			<h2 class="d-block d-md-none">NOS SERVICES</h2>
			<h5 class="card-title d-none d-md-inline">Chez Vincent Parrot, nous vous proposons une large gamme de services et entretiens</h5>
			<ul class="card-text">
				<li>Petit Entretien (vidange, plaquettes, nettoyage moteur...).</li>
				<li>Changement de pneumatiques, équilibrage.</li>
				<li>Remplacement pare-brise et réparation d'impact (agrée assureurs).</li>
				<li>Entretien et recharge de climatisation.</li>
				<li>Détection des pannes électriques.</li>
				<li>Assistance et dépannage (dans un rayon de 50kms autour du garage)</li>
				<li>Prêt de véhicule de courtoisie.</li>
				<li>Entretiens et réparations complexes (Réfection moteur, changement de boîte de vitesse, culasse...).</li>
				<li>Réalisations de vos cartes grises.</li>
			</ul>
			<a href="{{ path('app_contact_show') }}" class="button_link">PRENDRE RENDEZ-VOUS ICI</a>
		</div>
	</div>
</div>
