<div class="row">
	<div
		class="col-9 d-none d-md-inline"><!-- vide pour placer les infos sur la doite de la page -->
	</div>
	<div class="col-12 col-md-3">
		<div class="infos sidebar">
			<p>
				<strong>1 Quai Général De Gaulles 31000 Toulouse</strong>
			</p>
			<p>01.02.03.04.05</p>
			<p>Du Lundi au Vendredi</p>
			<p>8h45-12h00 / 14h00-18h00</p>
			<p>Le Samedi</p>
			<p>8h45-12h00</p>
			<hr>
			<h5>
				<strong>Moyens de paiement</strong>
			</h5>
			<p>Carte Bancaire</p>
			<hr>
			<p>Espèces</p>
			<hr>
			<p>Virement bancaire</p>
			<hr>
			<p>Paiement possible en plusieurs fois à partir de 250,00€</p>
		</div>
	</div>
</div>
